@model InterlocutorsViewModel

<h2>Чаты:</h2>

@{
    foreach(var i in Model.Interlocutors)
    {
        <form method="get" action="/OpenChat">
            <input type="hidden" name="interlocutorId" value="@i.Id"/>
            <button>@i.Username</button>
        </form>
    }
}
